{{> layouts/main }}

<div class="text-center mt-5">
  <h2 class="mb-4 text-success">Thank you!</h2>
  <p class="lead">Your booking has been received. We'll contact you via email soon.</p>

  <a href="/classes" class="btn btn-outline-primary mt-3">Back to Classes</a>
</div>