{{> layouts/main }}

<div class="text-center">
  <h1 class="mb-4">Welcome to Dance! Course Booking</h1>
  <p class="lead">We are a local organisation that runs courses of dance classes for people of different levels 
  of fitness and ability.</p>
  <p class="lead">Here you can discover and book our amazing dance classes.</p>

  <div class="mt-5">
    <a href="/courses" class="btn btn-primary btn-lg me-2">Browse Courses</a>
    <a href="/classes" class="btn btn-primary btn-lg me-2">Browse Classes</a>

    {{#isOrganiser}}
      <a href="/dashboard" class="btn btn-outline-success btn-lg">Go to Dashboard</a>
    {{/isOrganiser}}

  </div>
</div>